:root {
  --color-black: #000;
  --color-white: #fff;
  --color-background: #ebebeb;
}

body {
  margin: 0px;
}

.navbar {
  background-color: var(--color-background);
  padding: 15px 15px;
  box-shadow: 15px 0px 5px 0px var(--color-black);
}

.navbar-lists {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.navbar-lists li {
  display: inline-block;
}

.navbar-lists li a {
  margin: 0px 8px;
  text-decoration: unset;
  color: var(--color-black);
  font-size: 18px;
}

.app-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}