:root {
  --color-black: #000;
  --color-white: #fff;
  --color-background: #ebebeb;
  --color-button:#065dfb;
}

body {
  margin: 0px;
}

.navbar {
  background-color: var(--color-background);
  padding: 15px 15px;
  box-shadow: 15px 0px 5px 0px var(--color-black);
}

.navbar-lists {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.navbar-lists li {
  display: inline-block;
}

.navbar-lists li a {
  margin: 0px 8px;
  text-decoration: unset;
  color: var(--color-black);
  font-size: 18px;
}

.app-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

form {
  background-color: var(--color-background);
  padding: 30px;
  border-radius: 10px;
}

form .form-group {
  display: flex;
  margin: 15px 0px;
}

form label {
  display: block;
  min-width: 120px;
}

form .form-control {
  min-width: 350px;
  min-height: 35px;
  border: unset;
  padding: 0px 5px;
  border-radius: 5px;
}

form textarea {
  min-height: 120px !important;
}

form button {
  border: 0px;
  background: var(--color-button);
  color: var(--color-white);
  padding: 10px 30px;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  width: 30%;
  padding: 10px;
  margin: 0px 2px;
  text-align: center;
  background-color: var(--color-background);
}